# requirements.txt
# FastAPI and ASGI Server
fastapi==0.111.1
uvicorn[standard]==0.30.3
gunicorn==22.0.0

# Pydantic and Configuration
pydantic==2.8.2
pydantic-settings==2.4.0
python-dotenv==1.0.1

# Azure SDK
azure-identity==1.17.1
azure-core>=1.30.0

# External APIs SDKs
google-ads==25.0.0
facebook-business==19.0.2
hubspot-api-client==9.0.1
google-api-python-client==2.136.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
google-generativeai==0.7.1

# HTTP and Utilities
requests==2.32.3
PyYAML==6.0.1

# Cryptography Dependencies
cryptography==42.0.8
msal==1.29.0
msal-extensions==1.1.0
PyJWT[crypto]>=2.8.0